*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html  {
    font-family: 'Roboto', sans-serif;
}

.clearfix  {
    content: "";
    display: table;
    clear: both;
}

.float  {
    float: left;
}

main  {
    width: 80%;
    margin: 2em auto;
}

ul  {
    list-style: none;
}

.red  {
    color: #eb0037;
}

.brand  {
    font-size: 0.7em;
}

.bold  {
    font-weight: bold;
}

.old-price  {
    text-decoration: line-through;
    color: black;
}

[class*="-box"]  {
    width: 30%;
}

.imgbox  {
    position: relative;
}

.max-width  {
    max-width: 100%;
}

.margin  {
    margin: 0 1em;
}

.caption  {
    position:absolute;
    left: 0;
    bottom: 1em;
}

.wishlist  {
    position:absolute;
    right: 0;
    top: 1em;
    display: inline-block;
    padding: 0.3em 0.6em;
    background-color: white;
}

.red-sale  {
    display: inline-block;
    background-color: #eb0037;
    padding: 0.4em;
    font-size: 0.6em;
    color: white;
}

.green-material  {
    display: inline-block;
    background-color: #00875a;
    padding: 0.4em;
    font-size: 0.6em;
    color: white;
}

.second-img  {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.hover:hover .second-img  {
    display: block;
}

